Repository itislu/42-Webserv, pull requests merged in 2025-09, with the labels that each got.

#4 Add branch name, commit message and PR title checks
  .github/commitlint.config.mjs
  .github/workflows/branch-name-check.yaml
  .github/workflows/commit-msg-check.yaml
  .github/workflows/pr-title-check.yaml
  .gitignore
  docs/CONTRIBUTING.md
Labels: devops, P0

#6 Add cmake
  .clang-format
  .gitignore
  CMakeLists.txt
  CMakePresets.json
  Makefile
  docs/cmake_notes.md
  lib/libftpp/CMakeLists.txt
  lib/libftpp/libftpp/trim/trim.cpp
  lib/libftpp/libftpp/trim/trim.hpp
  src/main.cpp
  src/utils/CMakeLists.txt
  src/utils/parseArgs.cpp
  src/utils/parseArgs.hpp
  tests/CMakeLists.txt
  tests/utils_tests/utilsTester.cpp
  utils.mk
Labels: build

#14 Fix syntax in contribution guidelines for linking multiple issues to a commit
  docs/CONTRIBUTING.md
Labels: documentation

#13 Add `clangd` config file
  .clangd
Labels: devops
